$background-white: #ffffff;
$background-dark: black;
$background-grey: #fafafa;
$gradient-one: #da3394;
$gradient-two: #e03c67;
$gradient-three: #f3753b;
$gradient-four: #f99b4a;
$font-color-primary: #262626;
$font-color-secondary: #8e8e8e;
$font-color-footer: #c7c7c7;
$border-color-grey: #dbdbdb;
$border-color-grey-secondary: #efefef;
$link-color: #0095f6;
$link-color-secondary: #b3dffc;

// SoNow properties --- > 

$primary-pink: #f30067;
$font: "apple-system", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;