@import './reset.scss';
@import './properties.scss';

.button--pink {
  cursor: pointer;
  background: $primary-pink;
  border: 1px solid $primary-pink;
  color: #fff;
  height: 3rem;
  width: 10vw;
  min-width: 100px;
}

input {
  border: none;
  border-radius: 10px;
  height: 2rem;
}