@import './properties.scss';

.authentification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
  &__video {
    position: absolute;
    width: 100vw;
    height: 100vh;
  
    &__content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.550);
    }
  }
  
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 0 auto;
    min-width: 240px;
    height: 100vh;
    color: white;
  
    &__logo {
      max-width: 240px;
    }
  }
}

.login {
  width: 100vw;
  color:white;

  &__grid-container {
    position: absolute;
    top: 0; 
    margin: 0 auto;
  }

  &__grid-content {
    height: 100vh;
  }

  &__form-container {
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: .28571429rem;
  }

  &__form-footer {
    text-align: center;
    font-size: 15px;
    
  }
}