.create-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
  &__video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &__content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    min-width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form {
      width: 22rem;
      margin: 0 auto;
      text-align: center;
    
      &__footer {
        margin: 0.5rem;
        padding: 0.5rem;
      
        &__link {
          font-weight: 500;
          color: #f30067;
  
          &:hover {
            color: #f30067;
          }
        }
      
      }
    }
  }
}