.create-account {
  width: 100vw;
  color:white;

  &__img {
    position: absolute;
    top: 0; 
    left: 0; 
    object-fit:cover !important; 
    height: 100vh !important;
  }

  &__grid-container {
    position: absolute;
    top: 0; 
    margin: 0 auto;
  }

  &__grid-content {
    height: 100vh;
  }

  &__form-container {
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: .28571429rem;
  }
}