.event-card-secondary {
  position: relative;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;

  &__img {
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 100%;
    width: 100%; 
    object-fit: cover;
    }

  &__details {

    &__card {
      position: absolute;
      bottom: 0rem;
      left: 0rem;
      width: 100vw;
      padding: 2rem;
      background-color: rgba(0, 0, 0, 0.4);
      color:white;

      .header {
        margin-bottom: 0.5rem;
      }

      .description {
        margin-bottom: 0.5rem;
      }

      &__participants {
        position: absolute;
        bottom:12.1rem;
        left: 6rem;
        display: flex;
        font-size: 0.8rem;

        &__content {
          color: white;
        }
      }

      &__date {
        position: absolute;
        bottom: 12.4rem;
        left: 2rem;
      }

      &__label {
        border: none;
        display: flex;
        align-items: center;
        padding: 0px !important;
        margin: 0px !important;
      }
    }

    &__social-icons {
      position: absolute;
      bottom: 15rem;
      right: 1rem;
      display: flex;
      flex-direction: column;
    }

  }
}

@media screen and (max-width: 370px) {
  .event-card-secondary {
    &__details {

      .header{
        margin-bottom: 0.2rem !important;
      }
      .description {
        margin-bottom: 0.2rem !important;
      }

      &__card {
        &__labels {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }

  .ui.label {
    margin: 0 0.2em 0.1em 0;
  }
}