.eventCardDescription-main {
  height: 92vh;
  overflow: hidden;
  background-color: black;
}

.header-content {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}