.fav {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 92vh;
  width: 100vw;

  &__events {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    background-color: pink;
  }
}

.fav::-webkit-scrollbar {
  display: none;
}