.fav-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 92vh;
  width: 100vw;
  background-color: pink;

  &__event {
    height: 92vh;
    width: 100vw;
    background-color: blue;
  }
}

.fav-container::-webkit-scrollbar {
  display: none;
}