.feed-event {
  height: 100%;
  width: 100%;
  display: relative;
  background-color: green;

  &__img {
      height: 100%;
      width: 100%; 
      object-fit: cover;
      display: absolute;
      top: 0px;
      left: 0px;
    }
  
  &__icons {
    position: absolute;
    bottom: 12rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__date {
    position: absolute;
    bottom: 12rem;
    left: 1rem;
    background-color: '#f30067';
    color: white;
    padding-right: '0.833em';
    padding-left: '0.833em';
  }
}