.friends {
  background-color: black;
  color: white;
  height: 92vh;

    &__menu{
      height: 8vh;
      margin: 0 auto;

      &__main {
        display: flex;
      }

    }

    &__form {
      width: 92vw;
      margin: 0 auto;
    }
  
    &__list{
      height: 75vh;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: black;
    }

}