@import './properties.scss';

.form {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin: 1rem;
  padding: 2rem
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: $primary-pink;
  border: 1px solid $primary-pink;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: $primary-pink;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.authentification-login-link {
  color: white;
}