.profile-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 92vh;
  width: 100vw;
  background-color: black;

  &__event {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.profile-container::-webkit-scrollbar {
  display: none;
}