.search-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 92vh;
    width: 92vw;
    margin: 1rem auto;
    background-color: black;

    &__container {
    width: 100%;
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 30px;
    height: 30vh;
    }
}

.search-container::-webkit-scrollbar {
    display: none;
}

.scroll-element-container {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin: 1rem 0;
    // scroll-snap-type: x mandatory;
    & :hover {
        cursor: pointer;
    }

}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}