.profile-counter {
    color : white; 
    
    &__name {
      font-size : 1.5rem;
      font-weight : bold;
      color : white;
    }

    &__content {
      font-size : 1.2em;
      font-weight: 500;
    }


}

.profile-counter__name {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 0 0 0.35em 0.35em;
}

